extends base
include _reviewBox
block append mapbox 
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css', rel='stylesheet')

block js 
    script(src="/js/mapbox.js") 
    <script>
        //- mapboxgl.accessToken = 'pk.eyJ1Ijoibmd2aG9iIiwiYSI6ImNsbjMxeXppMjBkM2oycWw5OHkzb3p0cmMifQ.8zMdNqOuQfYGh0uqpeFYsg';
        //- const map = new mapboxgl.Map({
        //- container: 'map', // container ID
        //- style: 'mapbox://styles/mapbox/streets-v12', // style URL
        //- center: [-74.5, 40], // starting position [lng, lat]
        //- zoom: 9, // starting zoom
        //- });
    </script>
mixin overviewBox(description, value, iconName)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${iconName}`)
        span.overview-box__label= description
        span.overview-box__text= value
mixin pictureBox(image,imageName)
    .picture-box
        img.picture-box__img.picture-box__img--1(src=`/img/tours/${image}`, alt=`${imageName}`)

block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src='/img/tours/tour-5-cover.jpg', alt='Tour 5')

        .heading-box
            h1.heading-primary
                span=`${tourData.name} tour`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text=`${tourData.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= tourData.startLocation.description

    section.section-description
        .overview-box
            .overview-box__group
                h2.heading-secondary.ma-bt-lg Quick facts
                - const date = tourData.startDates[0].toLocaleString('en', {month : 'long', year: 'numeric', day:'numeric'});
                - const ratingAverage = parseFloat(tourData.ratingAverage).toFixed(0)
                +overviewBox('Next date', date, 'calendar')
                +overviewBox('Difficulty', tourData.difficulty, 'trending-up')
                +overviewBox('Participants', tourData.maxGroupSize, 'user')
                +overviewBox('Rating', `${ratingAverage} / 5`, 'star')
            .overview-box__group
                h2.heading-secondary.ma-bt-lg Your tour guides
                each guide in tourData.guides
                    .overview-box__detail
                        img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                        - if (guide.roles === 'lead-guide')
                            span.overview-box__label Lead Guide
                        - if(guide.roles === 'guide')
                             span.overview-box__label Tour Guide
                        span.overview-box__text= `${guide.name}`
        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tourData.name} tour`
            - const para = tourData.description.split('\n');
            each par in  para
                 p.description__text=par 

    section.section-pictures
        each image, i in tourData.images
            +pictureBox(image, `${tourData.name}-${i+1}`)
    section.section-map
            #map(data-locations = `${JSON.stringify(tourData.locations)}`)
    section.section-reviews
            .reviews
                each review in tourData.reviews
                    +reviewBox(review)
    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tourData.images[1]}`, alt='')
            img.cta__img.cta__img--2(src=`/img/tours/${tourData.images[2]}`, alt='')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `${tourData.duration} days. 1 adventure. Infinite memories. Make it yours today!`
                button.btn.btn--green.span-all-rows Book tour now!